.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-size: 2rem;
    color: #bb4a4a;
    text-align: center;
}

.card {
    border: 1px solid #908a8a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(176, 154, 154, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    background-color: rgb(230, 175, 206);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(49, 6, 73);
}

.card-text {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #579564;
}

.btn {
    font-size: 1rem;
    
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1a1d1b;
}
